<div class='showcase'>
    <div>
        <h2><%= @article.name %></h2>
    </div>

    <div>
        <%= @article.body%>
    </div>

    <div>
        <button><%= link_to 'Back', articles_path %></button>
    </div>
</div>